# Genreated binaries
out/

# Output for test-assets
assets/output/

#logs
cmd/mlmpub/mlmpub.log
cmd/mlmsub/mlmsub.log

# Test binary, built with `go test -c`
*.test

# Output of the make coverage target
coverage.*

# Output from video generation
utils/videogen/output*
utils/videogen/results
utils/videogen/logs

# Dependency directories (remove the comment below to include it)
vendor/

# Claude internal files
.claude

# References like draft spec versions and typical AI findings
references/
findings/
